
<h3> Contactos </h3>
<hr />
<table id="cliente_contactos" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered display">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Telefono</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @cliente_contactos.each do |cont| %>
  <tr>
    <td><%= cont.nombre %></td>
    <td><%= cont.email %></td>
    <td><%= cont.telefono %></td>
    <td><%= link_to '<i class="icon-pencil icon-black"></i>'.html_safe, [:edit, @cliente, cont] %></td>
    <td><%= link_to '<i class="icon-remove icon-black"></i>'.html_safe, [@cliente,cont], :class => 'delete_element', method: :delete, data: { confirm: 'Are you sure?' },:remote => true %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= link_to 'Nuevo Contacto', new_cliente_clientes_contacto_path(@cliente), :class => 'btn btn-info btnNuevo' %>

