<% cliente = @cliente %>
<div style="text-align:center">
<h3> Contactos </h3>

<table id="cliente_contactos" class="display" style="border: silver solid 1px; width: 900px; margin-left:auto;margin-right:auto;font-size: 11px">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Telefono</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @cliente_contactos.each do |cont| %>
  <tr>
    <td><%= cont.nombre %></td>
    <td><%= cont.email %></td>
    <td><%= cont.telefono %></td>
    <td><%= link_to '<i class="icon-pencil icon-black"></i>'.html_safe, edit_cliente_clientes_contacto_path(cont.cliente,cont) %></td>
    <td><%= link_to '<i class="icon-remove icon-black"></i>'.html_safe, cliente_clientes_contacto_path(cont.cliente,cont), :class => 'delete_element', method: :delete, data: { confirm: 'Are you sure?' },:remote => true %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= link_to 'Nuevo Contacto', new_cliente_clientes_contacto_path(cliente), :class => 'btn btn-info btnNuevo' %>

</div>