
<table id="cliente_licencias" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered display">
  <thead>
  <tr>
    <th>Nro. Lic.</th>
    <th>Data Source</th>
    <th>Catalog</th>
    <th>User</th>
    <th>Password</th>
    <th>Conexion / Servidor</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @cliente_licencias.each do |lic| %>
  <tr>
    <td><%= lic.licencia.serial %></td>
    <td><%= lic.cnn_data_source %></td>
    <td><%= lic.cnn_catalog %></td>
    <td><%= lic.cnn_user %></td>
    <td><%= lic.cnn_pass %></td>
    <td><%= lic.conexion_servidor %></td>    
    <td><%= link_to '<i class="icon-pencil icon-black"></i>'.html_safe, edit_cliente_clientes_licencia_path(@cliente,lic) %></td>
    <td><%= link_to '<i class="icon-remove icon-black"></i>'.html_safe, cliente_clientes_licencia_path(@cliente,lic), :class => 'delete_element', method: :delete, data: { confirm: 'Seguro que desea eliminar el registro?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
<div style="text-align:center;padding-bottom:15px">
<%= link_to 'Asignar Licencia', new_cliente_clientes_licencia_path(@cliente), :class => 'btn btn-info btnNuevo' %>
</div>