<p id="notice"><%= notice %></p>

<p>
  <b>Razonsocial:</b>
  <%= @cliente.razonSocial %>
</p>

<p>
  <b>Dmcalle:</b>
  <%= @cliente.dmCalle %>
</p>

<p>
  <b>Dmaltura:</b>
  <%= @cliente.dmAltura %>
</p>

<p>
  <b>Dmpiso:</b>
  <%= @cliente.dmPiso %>
</p>

<p>
  <b>Dmdepto:</b>
  <%= @cliente.dmDepto %>
</p>

<p>
  <b>Dmreferencia:</b>
  <%= @cliente.dmReferencia %>
</p>

<p>
  <b>Domicilio:</b>
  <%= @cliente.domicilio %>
</p>

<p>
  <b>Sitioweb:</b>
  <%= @cliente.sitioWeb %>
</p>

<p>
  <b>Fecingreso:</b>
  <%= @cliente.fecIngreso %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
