
<%= simple_form_for(@licencia,:html => {:class => 'formCentrado'}) do |f| %>

  <div class="form-inputs">
    <%= f.input :serial %>
  </div>
    <p style="font-weight:bold">Productos</p>
  <% for producto in Producto.find(:all) %>  
    <div> 
      <label class="checkbox">
        <%= check_box_tag "licencia[producto_ids][]", producto.id, @licencia.productos.include?(producto) %>  
        <%= producto.descripcion %> 
      </label> 
    </div>  
  <% end %> 

<div style="text-align:center;padding-top:50px;padding-bottom:20px">
  <%= f.button :submit, 'Guardar Licencia', :class => 'btn btn-primary' %>  
</div>
<% end %>

