<p id="notice"><%= notice %></p>

<p>
  <b>Serial:</b>
  <%= @licencia.serial %>
</p>

<ol>
  <% for producto in @licencia.productos %>
  <li><%= h producto.descripcion %></li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_licencia_path(@licencia) %> |
<%= link_to 'Back', licencias_path %>
