

<%= simple_form_for([@cliente,@clientes_contacto], :html => {:class => 'formPrincipal'}) do |f| %>

  <div class="form-inputs">
    <%= f.input :nombre, :label => 'Nombre' %>
    <%= f.input :email %>
 	<%= f.input :flgPrincipal, :as => :boolean,:label => false, :inline_label => true %>
    <%= f.input :telefono, :label => 'Teléfono' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Guardar', :class => 'btn btn-primary' %>
  </div>
<% end %>


