

<%= simple_form_for([@cliente,@clientes_contacto], :html => {:class => 'formPrincipal'}) do |f| %>

  <div class="form-inputs">
    <%= f.input :nombre, :label => 'Nombre' %>
    <%= f.input :email %>
	<%= f.input :flgPrincipal,:label => 'Contacto Principal?', :collection => [['Si', 1], ['No', 0]], :include_blank => false %>
    <%= f.input :telefono, :label => 'Teléfono' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Guardar', :class => 'btn btn-primary' %>
  </div>
<% end %>


