<div class="contenedorPrincipal">

  <h4>Localidades</h4>
  <hr>


<table id="localidades" class="display" style="border: silver solid 1px; width: 700px; margin-left:auto;margin-right:auto;font-size: 11px;">
  <thead>
  <tr>
    <th>C&oacute;digo</th>
    <th>Descripcion</th>
    <th>Pa&iacute;s</th>
    <th>Provincia</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @localidades.each do |localidad| %>
  <tr>
    <td><%= localidad.codigo %></td>
    <td><%= localidad.descripcion %></td>
    <td><%= localidad.provincia.pais.descripcion %></td>
    <td><%= localidad.provincia.descripcion %></td>
    <td><%= link_to '<i class="icon-pencil icon-black"></i>'.html_safe, edit_localidad_path(localidad) %></td>
    <td><%= link_to '<i class="icon-remove icon-black"></i>'.html_safe, localidad, :class => 'delete_element', method: :delete, data: { confirm: 'Are you sure?' },:remote => true %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= link_to 'Nueva Localidad', new_localidad_path, :class => 'btn btn-info btnNuevo' %>
</div>
