<%= simple_form_for(@clientes_licencias_productos_productos_modulo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :clientes_licencias_producto_id %>

    <%= f.input :productos_modulo_id %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
