<h1>Listing clientes_licencias_productos_productos_modulos</h1>

<table>
  <tr>
    <th>Clientes licencias producto</th>
    <th>Productos modulo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes_licencias_productos_productos_modulos.each do |clientes_licencias_productos_productos_modulo| %>
  <tr>
    <td><%= clientes_licencias_productos_productos_modulo.clientes_licencias_producto_id %></td>
    <td><%= clientes_licencias_productos_productos_modulo.productos_modulo_id %></td>
    <td><%= link_to 'Show', clientes_licencias_productos_productos_modulo %></td>
    <td><%= link_to 'Edit', edit_clientes_licencias_productos_productos_modulo_path(clientes_licencias_productos_productos_modulo) %></td>
    <td><%= link_to 'Destroy', clientes_licencias_productos_productos_modulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Clientes licencias productos productos modulo', new_clientes_licencias_productos_productos_modulo_path %>
