<p id="notice"><%= notice %></p>

<p>
  <b>Clientes licencias producto:</b>
  <%= @clientes_licencias_productos_productos_modulo.clientes_licencias_producto_id %>
</p>

<p>
  <b>Productos modulo:</b>
  <%= @clientes_licencias_productos_productos_modulo.productos_modulo_id %>
</p>


<%= link_to 'Edit', edit_clientes_licencias_productos_productos_modulo_path(@clientes_licencias_productos_productos_modulo) %> |
<%= link_to 'Back', clientes_licencias_productos_productos_modulos_path %>
