<p id="notice"><%= notice %></p>

<p>
  <b>Tipo:</b>
  <%= @clientes_terminal.tipo_id %>
</p>

<p>
  <b>Cliente:</b>
  <%= @clientes_terminal.cliente_id %>
</p>

<p>
  <b>Valor1:</b>
  <%= @clientes_terminal.valor1 %>
</p>

<p>
  <b>Valor2:</b>
  <%= @clientes_terminal.valor2 %>
</p>

<p>
  <b>Valor3:</b>
  <%= @clientes_terminal.valor3 %>
</p>

<p>
  <b>Valor4:</b>
  <%= @clientes_terminal.valor4 %>
</p>

<p>
  <b>Referencia:</b>
  <%= @clientes_terminal.referencia %>
</p>


<%= link_to 'Edit', edit_clientes_terminal_path(@clientes_terminal) %> |
<%= link_to 'Back', clientes_terminales_path %>
