<div class="contenedorPrincipal">

  <h2>Visor de Logs</h2>
  <hr />
<div style="width:70%;margin-left:auto;margin-right:auto">
<table id="visorLogs" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered display">
  <thead>
  <tr>
    <th>Cliente</th>
    <th>Serial</th>
    <th>Fecha y Hora</th>
    <th>Direcci&oacute;n IP</th>
    <th>Referencia</th>
  </tr>
</thead>
<tbody>
<% @licencias_logs.each do |log| %>
  <tr>
    <td><%= get_cliente_if_exists log %></td>
    <td><%= get_licencia_if_exists log %></td>
    <td><%= log.created_at.to_formatted_s(:db) %></td>
    <td><%= log.ip %></td>
    <td><%= log.referencias %></td>
  </tr>
<% end %>
</tbody>
</table>

</div>
</div>
