<div class="contenedorPrincipal">

  <h2>Pa&iacute;ses</h2>
  <hr />

<table id="paises" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered display">
  <thead>
  <tr>
    <th>C&oacute;digo</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @paises.each do |pais| %>
  <tr>
    <td><%= pais.codigo %></td>
    <td><%= pais.descripcion %></td>
    <td><%= link_to '<i class="icon-search icon-black"></i>'.html_safe, pais_provincias_path(pais) %></td>
    <td><%= link_to '<i class="icon-pencil icon-black"></i>'.html_safe, edit_pais_path(pais) %></td>
    <td><%= link_to '<i class="icon-remove icon-black"></i>'.html_safe, pais, :class => 'delete_element', method: :delete, data: { confirm: 'Seguro que desea eliminar el registro?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= link_to 'Nuevo Pais', new_pais_path, :class => 'btn btn-primary' %>
</div>




